.filmstrip {
    section.slide > .slide-content {
        h1 {
            font-size: 10vmin;
            margin-top: 3vmin;
            margin-bottom: 3vmin;

            &.header-huge {
                font-size: 14vmin;
                margin-top: 4vmin;
                margin-bottom: 4vmin;
            }
        }

        h2 {
            font-size: 8vmin;
            margin-top: 3vmin;
            margin-bottom: 3vmin;
            color: @secondary-text;
        }

        .text-center {
            text-align: center;
        }

        .text-left {
            text-align: left;
        }

        .text-right {
            text-align: right;
        }

        ul, ol {
            font-size: 4vmin;
            margin-top: 3vmin;
            margin-bottom: 3vmin;

            li::marker {
                color: @secondary-text;
            }

            &.no-markers {
                list-style-type: none;
            }
        }

        ul {
            list-style-type: disc;

            &.disc-list {
                list-style-type: disc;
            }
            &.circle-list {
                list-style-type: circle;
            }
            &.square-list {
                list-style-type: square;
            }
            &.triangle-list {
                list-style-type: '\25BA ';
            }
            &.plus-list {
                list-style-type: '+ ';
            }
            &.minus-list {
                list-style-type: '- ';
            }
        }

        ol {
            list-style-type: decimal;

            &.decimal-list {
                list-style-type: decimal;
            }
            &.upper-roman-list {
                list-style-type: upper-roman;
            }
            &.lower-roman-list {
                list-style-type: lower-roman;
            }
            &.upper-latin-letters {
                list-style-type: upper-alpha;
            }
            &.lower-latin-letters {
                list-style-type: lower-alpha;
            }
        }

        p {
            font-size: 4vmin;
            margin-top: 3vmin;
            margin-bottom: 3vmin;

            &.p-small {
                font-size: 3vmin;
            }
            &.p-big {
                font-size: 5vmin;
            }
            &.p-image {
                text-align: center;
                > img {
                    max-height: 45vmin;
                    max-width: 100%;
                }

                &.full-slide {
                    margin: -2vmin;
                    height: 100%;
                    > img {
                        min-height: 100%;
                    }

                    + p.p-description {
                        margin: 0vmin;
                        position: absolute;
                        bottom: 0vmin;
                        left: 0vmin;
                        padding: 2vmin;
                        background-color: @bg-color;
                        border-radius: 0vmin 0vmin 2vmin 2vmin;
                    }
                }
            }
        }

        ol, ul, p {
            &.two-column {
                margin-top: 2vmin;
                margin-bottom: 2vmin;
                width: 50%;
                box-sizing: border-box;

                &.column-left {
                    clear: left;
                    float: left;
                }

                &.column-right {
                    clear: right;
                    float: right;
                }

                + ol, ul, p {
                    clear: both;
                }
            }
        }
    }
}
